# INSTALL PYTHON 3.8.3 (adding it to the path)
# UPGRADE PIP: $ python -m pip install --upgrade pip


# INSTALL DEPENDENCIES:
# How to install: $ pip install -r /path/to/requirements.txt

Django==3.0.8