/* General */
html {
    width: 100vw;
    overflow-x: hidden;
}
body, .main-wrapper {
    background: lightskyblue;
    font-size: 18px;
    overflow-x: hidden;
}

/* Descktop & Tablet */
@media(min-width: 768px) {

}

/* Mobile */
@media(max-width: 767px) {

}
