{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- FontAwesome CSS & JS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
    <script defer src="{% static 'plugins/font-awesome-5.13.0/js/all.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" />

    {% block extracss %}
    {% endblock extracss %}
    
    <title>{% block title %}{% endblock title %} | Title</title>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img\logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Montes Logo" loading="lazy">
          Montes
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Page</a>
          </div>
        </div>  
      </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% block extrajs %}
    {% endblock extrajs %}

  </body>
</html>