{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block home %}
    <a class="nav-link selected" href="#"><i class="fas fa-building fa-fw mr-2"></i>Home</a>
{% endblock home %}

{% block content %}
    <div class="main-wrapper">
        <section class="main-section px-3 py-5 p-md-5">

            <div class="container img-container d-none d-md-block text-center">
                <img src="{% static 'img\logohd.png' %}" width="50%" alt="Montes Logo HD">
            </div><!--//container-->

            <div class="container">
                <div class="title col-12 text-center my-5">
                    <h1>Django Default App</h1>
                </div><!--//col-->
                
                <div class="row">
                    <div class="col-md-12 text-center mb-4">
                        <h4>Hello World</h4>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//container-->

        </section><!--//main-section-->
        
        <footer>
            <div class="text-muted text-center">copytight © <a href="https://montesariel.com">montesariel.com</a></div>
        </footer>

    </div><!--//main-wrapper-->
{% endblock content %}