{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block home %}
    <a class="nav-link selected" href="#"><i class="fas fa-building fa-fw mr-2"></i>Home</a>
{% endblock home %}

{% block content %}
    <div class="main-wrapper">
        <section class="main-section px-3 py-5 p-md-5">

            <div class="container img-container d-none d-md-block text-center">
                <img src="{% static 'img\example.jpg' %}" width="50%" alt="example img">
            </div><!--//container-->

            <div class="container">
                <div class="title col-12 text-center my-5">
                    <h1>Title</h1>
                </div><!--//col-->
                
                <div class="row">
                    <div class="col-md-12 text-center mb-5">
                        <p>Content</p>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//container-->

        </section><!--//main-section-->
    </div><!--//main-wrapper-->
{% endblock content %}